body{
    background-color:#aadaaa;


}
#container{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}
#titulo h2{
    text-align:center;

}

#menu ul{
    list-style:none;
}
#menu ul li{
    display:inline; 
    padding: 10px;
}

#capa{
    width:auto;
}

#capa img{
    width:100%;
    height: 800px;
}

.imagens_promo h3{
    text-align:center;
    
}
.imagens_promo img{
    width:340px;
    height:300px;
    

}
.imagens_promo {
    display:inline;
    padding:20px;
    margin:30px;

} 
#central {
    text-align:center;


}
.rodape2 {
    display:inline-block;
    padding:20px;
    height:150px;
    vertical-align:top;
    width: 400px;
}
.rodape2 img {
    width:60px;
    height:60px;
    

}
.rodape2 ul {
    list-style:none;
}
#rodape{
    background-color:rgb(161, 34, 34);
    color:white; 
    height: 250px; 

}
#rodape3{
    background-color:rgb(49, 9, 9);
    height: 100px;
    text-align: center;
    
    
}
#menu ul li{
    display:inline;
    padding:20px;

}
#menu ul li a{
    text-decoration: none;
    color: aquamarine;
}
.imagens_produtos img {
    width:300px;
    height:300px;
    padding:100x;
}
.imagens_produtos {
    display:inline-block;
    
}
#produtos{
    text-align: center;
}
.y {
    padding:50px;
    background-color:#aadaaa;
}

.y img {
    height:200px ;
}

.z{
    padding:50px;
    background-color:rgb(161, 34, 34);
    color: white;
}   

.z img{
    height:100px;
}

    




    



