{% extends 'home.html' %}
{% load static %}
{% block title %} Japonês - Contatos {% endblock %}

{% block content %}
<div class="container my-5">


  <h2 class="text-center mb-4">Entre em Contato</h2>

  <p class="text-center mb-5">
    No <strong>SushiCesso</strong>, cada detalhe é pensado para oferecer
    uma experiência gastronômica única da culinária japonesa.
    Fale conosco ou venha nos visitar 🍣
  </p>

  <div class="row justify-content-center">


    <div class="col-md-6">
      <div class="card p-4">

        <h4 class="mb-3">🍱 SushiCesso</h4>

        <p>
          📍 <strong>Endereço:</strong><br>
          Rua dona Isabel, 700 – <br>
          Rio de Janeiro – RJ
        </p>

        <p>
          📞 <strong>Telefone:</strong><br>
          (21) 99999-9999
        </p>

        <p>
          💬 <strong>WhatsApp:</strong><br>
          (21) 98888-8888
        </p>

        <p>
          📷 <strong>Instagram:</strong><br>
          <a href="#" class="text-decoration-none">@sushicesso</a>
        </p>

      </div>
    </div>

  </div>
</div>
{% endblock %}
